<!-- Located at views/landing-->

<% include partials/header %>
<div class="container ui main tex">
    <h1>EL0429 Colloquium on British Culture</h1>
    
    <p>The North of England is an area of outstanding natural beauty steeped in history and cultural diversity and distinctiveness.
    The whole of the region is literally littered with heritage sites.
    Many of these are castles as the area, being the border lands between England and Scotland, was for much of the past an area of war and conflict.</p>
    
    
    <a class="ui blue big basic button" href="/places">View all Places</a>
</div>
<% include partials/footer %>
